@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeCollapse {
  0% {
    height: 220px;
    opacity: 1;
    overflow: hidden;
  }
  100% {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

@keyframes fadeExpand {
  0% {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    height: 220px;
    opacity: 1;
    overflow: hidden;
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rotateIn {
  from {
    transform: rotate(-45deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}
