@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main > section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 0px 100px;
  background-color: #000000;
}

header img {
  height: 60px;
}

.navbar a.link {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #e0e4e4;
  text-decoration: none;
  margin-left: 40px;
  width: 0%;
}

.navbar a.link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0;
  height: 2px;
  background: #e0e4e4;
  transition: 0.3s;
}

.navbar a.link:hover::before {
  width: 100%;
}

nav a.CTA {
  font-size: 18px;
  color: #e0e4e4;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 800;
  background-color: #ffcc00;
  padding: 10px 20px;
  color: #006991;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.landing-page {
  background-image: url(../images/jakub-zerdzicki-e9Zzio1Tm-8-unsplash.jpg);
  background-size: cover;
  height: 100vh;
}

h1 {
  color: #e0e4e4;
  font-size: 50px;
  padding: 150px 0px 20px 100px;
}

p.domaine {
  text-transform: uppercase;
  font-style: italic;
  color: #e0e4e4;
  font-size: 30px;
  margin: 0px 200px 40px 100px;
}

a.CTA {
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-left: 100px;
  font-weight: 800;
  background-color: #ffcc00;
  padding: 10px 20px;
  color: #006991;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#section-2 {
  background-image: url(../images/frames-for-your-heart-iOLHAIaxpDA-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 0px 150px 0px 150px;
}

.services {
  color: #006991;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  padding: 60px 0px 60px 0px;
}

.accordion {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

.accordion input {
  display: none;
}

.accordion-label {
  display: flex;
  align-items: center;
  background-color: #0000009f;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.accordion-label i {
  padding: 15px;
  font-size: 40px;
}

.accordion-label h3 {
  font-size: 26px;
  font-weight: 500;
}

.accordion-label span {
  padding: 15px;
  font-size: 30px;
}

.accordion-label:hover {
  background-color: #000000;
}

.plus-sign {
  font-size: 18px;
  transition: transform 0.4s ease;
  margin-left: auto;
}

.accordion-content {
  font-size: 20px;
  text-align: justify;
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  color: #e0e4e4;
  background-color: #0000009f;
}

.accordion input:checked + .accordion-label + .accordion-content {
  max-height: 250px;
  padding: 15px 15px;
  transition: 0.8s ease;
  background-color: #000000;
}

.accordion input:checked + .accordion-label .plus-sign {
  transform: rotate(45deg);
}

#formulaire {
  display: flex;
  flex-direction: column;
  margin: 40px 100px 0px 100px;
  padding: 20px;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  max-width: 500px;
}

input[type="text"],
textarea,
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

input[type="submit"] {
  background-color: #ffcc00;
  color: #006991;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="submit"]:hover {
  background-color: #006991;
  color: #ffcc00;
}

#formulaire h6 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #006991;
  margin-bottom: 40px;
}

#page {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#section-3 {
  background-image: url(../images/kyaw-tun-4wQ6Y-jyeME-unsplash.jpg);
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
}

@media screen and ((min-width: 769px) and (max-width: 1024px)) {
  .navbar a.link {
    display: none;
  }
  h1 {
    padding: 150px 80px 0px 80px;
  }
  br {
    display: none;
  }
  header {
    padding: 20px 40px;
  }
  p.domaine {
    margin: 30px 80px 50px 80px;
    background-color: #00000091;
    border-radius: 10px;
    padding: 20px 20px;
    font-size: 26px;
  }
  .landing-page {
    background-position: top;
  }
  a.CTA {
    margin-left: 80px;
    font-size: 22px;
  }

  #section-2 {
    padding: 0px 100px 0px 100px;
  }

  #formulaire {
    margin: 40px 20px 0px 20px;
  }
}

@media screen and (max-width: 768px) {
  .navbar a.link {
    display: none;
  }
  h1 {
    font-size: 30px;
    padding: 50px 20px 0px 20px;
  }
  br {
    display: none;
  }
  header {
    padding: 20px 10px;
  }

  header img {
    height: 40px;
  }

  p.domaine {
    margin: 50px 20px 100px 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #000000b2;
    border-radius: 10px;
  }
  .landing-page {
    background-position: top;
    text-align: center;
  }
  a.CTA {
    margin-left: 0px;
    font-size: 18px;
  }

  .titre {
    display: flex;
    justify-content: center;
  }

  #section-2 {
    padding: 0px 20px 0px 20px;
  }

  .services {
    background-color: #ffcc00;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 50px 30px;
    font-size: 30px;
  }

  .accordion {
    margin: 0px auto;
  }

  .accordion-label i {
    padding: 20px;
    font-size: 30px;
  }

  .accordion-label h3 {
    font-size: 20px;
    font-weight: 500;
  }

  .accordion-content {
    font-size: 16px;
  }

  #formulaire {
    margin: 40px 20px 0px 20px;
  }

  input[type="submit"] {
    padding: 10px 10px;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
  }
  #formulaire h6 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
