@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
 :root {
     --color-primary: #006991;
     --color-secondary: #e0e4e4;
     --color-accent: #37afee;
     --color-highlight: #ffdb34;
     --font-main: "Poppins", sans-serif;
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: var(--font-main);
}
 a {
     text-decoration: none;
     color: inherit;
}
 img {
     max-width: 100%;
     display: block;
     height: auto;
}
/* HEADER */
 #landing {
     background-color: var(--color-primary);
     background: linear-gradient( to bottom, #006991 50%, #157f9f 65%, #cbd6d6 90%, #e0e4e4 100% );
     height: 100vh;
     display: flex;
     flex-direction: column;
}
 .hero-wrapper {
     display: flex;
     justify-content: center;
     padding: 6.25rem 1.25rem;
     text-align: center;
}
 .hero h1 {
     color: var(--color-secondary);
     font-size: 4rem;
     padding-bottom: 1.25rem;
}
 .hero p {
     display: inline-block;
     text-transform: uppercase;
     font-style: italic;
     color: var(--color-secondary);
     font-size: 1.875rem;
     padding: 0.625rem 1.25rem;
     background-color: var(--color-accent);
     border-radius: 0.625rem;
}
/* NAVBAR */
 .navbar {
     padding: 1.25rem 3.125rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
}
 .navbar-logo img {
     height: 5rem;
}
 .navbar-link {
     display: flex;
     gap: 3.125rem;
     align-items: center;
}
 .navbar a.link {
     font-size: 1.125rem;
     font-weight: 500;
     color: var(--color-secondary);
     position: relative;
     padding-bottom: 0.3125rem;
}
 .link::after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     width: 0%;
     height: 0.125rem;
     background-color: var(--color-secondary);
     transition: width 0.5s ease, right 0.5s ease;
}
 .link:hover::after {
     width: 100%;
}
 .btn-cta {
     font-size: 1.125rem;
     font-weight: 800;
     background-color: var(--color-secondary);
     color: var(--color-primary);
     padding: 0.625rem 1.25rem;
     border-radius: 0.3125rem;
     text-transform: uppercase;
     box-shadow: 0 0.1875rem 0.5rem rgba(0, 0, 0, 0.24);
}
 .btn-cta:hover {
     background-color: var(--color-accent);
     color: var(--color-secondary);
}
 .navbar-toggle {
     display: none;
}
/* CONTACTS FIXES */
 .contacts {
     display: flex;
     justify-content: flex-end;
     gap: 0.9375rem;
     padding: 0.625rem 3.125rem;
}
 .contacts {
     position: fixed;
     bottom: 0;
     right: 0;
     margin: 0;
     padding: 0.625rem;
     z-index: 999;
     display: flex;
     justify-content: start;
     gap: 0.3125rem;
     font-size: 1.25rem;
     font-weight: bold;
     background-color: transparent;
}
 .contacts a, .contacts a img {
     background-color: var(--color-highlight);
     color: var(--color-primary);
     padding: 0.625rem;
     border-radius: 0.5rem;
     text-decoration: none;
     box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.3);
}
 .btn-phone i {
     padding-right: 0.625rem;
}
 .contacts a:hover {
     box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, 0.3);
}
/* SECTIONS */
 h2 {
     color: var(--color-primary);
     text-align: center;
     font-size: 2.5rem;
     font-weight: 700;
     padding: 2.5rem 0;
}
 #zone h2, #work h2 {
     color: var(--color-secondary);
}
/* SERVICES */
 #services {
     background-color: var(--color-secondary);
     padding: 0 3.125rem 3.125rem 3.125rem;
}
 .wrap-services {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 2.5rem;
}
 .wrap-services > div {
     border-radius: 0.75rem;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     flex: 1 1 calc(33.333% - 1.875rem);
     max-width: calc(33.333% - 1.875rem);
     cursor: default;
     text-align: center;
}
 .wrap-services > div:hover {
     transform: translateY(-0.625rem);
     cursor: pointer;
}
 .service-item i {
     margin-bottom: 1.25rem;
     color: var(--color-primary);
}
 h3 {
     font-weight: 700;
     font-size: 1.5rem;
     margin-bottom: 0.9375rem;
     color: var(--color-primary);
}
 .service-item p {
     font-size: 1.1rem;
     color: #444;
     line-height: 1.7;
     max-width: 25rem;
     margin: 0 auto;
     hyphens: auto;
}
/* ZONE */
 #zone {
     background-color: var(--color-primary);
     padding: 3.125rem;
     min-height: 100vh;
     color: var(--color-secondary);
     font-size: 1.375rem;
}
 .zi {
     display: flex;
     gap: 1.25rem;
     padding-bottom: 3.125rem;
     align-items: center;
}
 .img-wrapper {
     width: 50rem;
}
 .MEL {
     color: #f0dbff;
     font-weight: 600;
}
 .PVL {
     color: #99f0dd;
     font-weight: 600;
}
 .liste-ville {
     columns: 3;
     list-style-type: disc;
     font-size: 1.25rem;
     padding-left: 1.4375rem;
}
 .liste-ville li {
     padding-right: 0.625rem;
}
/* A PROPOS */
 #about {
     background-color: var(--color-secondary);
     padding: 3.125rem;
}
 .presentation {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 3.125rem;
     max-width: 80%;
     margin: auto;
}
 .presentation-img img {
     max-width: 15.625rem;
     border-radius: 0.625rem;
}
 .presentation-text p {
     text-align: justify;
     font-size: 1.25rem;
}
 .linkedin-btn {
     display: inline-flex;
     align-items: center;
     gap: 0.5rem;
     padding: 0.625rem 1rem;
     background-color: var(--color-accent);
     color: var(--color-secondary);
     border-radius: 0.3125rem;
     font-weight: bold;
     transition: background-color 0.3s ease;
}
 .linkedin-btn:hover {
     background-color: var(--color-primary);
}
/* REALISATIONS */
 #work {
     padding: 2rem;
     background-color: var(--color-primary);
}
 #work h2 {
     color: var(--color-secondary);
     text-align: center;
}
 .carrousel-wrapper {
     max-width: 87.5rem;
     margin: 0 auto;
     box-sizing: border-box;
     padding: 0 1rem;
}
 #carrousel {
     column-count: 3;
     column-gap: 1.5rem;
}
 .realisation-card {
     background-color: var(--color-secondary);
     border-radius: 1rem;
     box-shadow: 0 0.375rem 1.25rem rgba(0, 0, 0, 0.1);
     margin-bottom: 1.5rem;
     display: inline-block;
     width: 100%;
     opacity: 0;
     transform: translateY(1.875rem);
     transition: transform 0.6s ease, opacity 0.6s ease;
}
 .realisation-card.active {
     opacity: 1;
     transform: translateY(0);
}
 .realisation-card img {
     width: 100%;
     height: auto;
     max-height: 18.75rem;
     object-fit: cover;
     display: block;
     border-top-left-radius: 1rem;
     border-top-right-radius: 1rem;
     transition: transform 0.3s ease;
}
 .realisation-card p {
     padding: 1rem 1.2rem;
     font-size: 1rem;
     line-height: 1.5;
     text-align: justify;
}
/* FORMULAIRE */
 #quote {
     background-image: url(../images/lampes-elec.jpg);
     background-size: cover;
     background-position: left;
     display: flex;
     justify-content: center;
     padding: 2.5rem;
     height: 100vh;
}
 .form-container {
     display: flex;
     flex-direction: column;
     color: #000;
     font-weight: 600;
     font-size: 1.25rem;
     max-width: 37.5rem;
}
 input[type="text"], textarea, input[type="email"] {
     width: 100%;
     padding: 0.75rem;
     border: 1px solid var(--color-secondary);
     border-radius: 0.3125rem;
     margin-top: 0.375rem;
     margin-bottom: 1rem;
     resize: vertical;
}
 button[type="submit"] {
     background-color: var(--color-highlight);
     color: var(--color-primary);
     padding: 0.625rem 0.9375rem;
     border: none;
     border-radius: 0.25rem;
     cursor: pointer;
     font-weight: 600;
     font-size: 1rem;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 0.1875rem 0.5rem;
     width: 20%;
}
 button[type="submit"]:hover {
     background-color: var(--color-primary);
     color: var(--color-highlight);
}
 @media screen and (min-width: 1086px) and (max-width: 1360px) {
     .hero h1 {
         font-size: 2.8rem;
    }
     .navbar {
         flex-wrap: wrap;
         justify-content: center;
    }
     .navbar-logo {
         padding-bottom: 1.25rem;
         padding-right: 6.25rem;
    }
     .wrap-services > div {
         flex: 1 1 calc(50% - 1.25rem);
         max-width: calc(50% - 1.25rem);
    }
     .zi {
         flex-wrap: wrap;
         justify-content: center;
    }
     .villes {
         display: none;
    }
     #carrousel {
         column-count: 2;
    }
     .realisation-card img {
         max-height: 18.75rem;
         height: auto;
    }
}
 @media screen and (max-width: 1085px) {
     .navbar-toggle {
         display: block;
         background-color: #00000000;
         border: none;
    }
     .navbar-logo img {
         max-height: 3.125rem;
         margin: 1.25rem 0 0 2.5rem;
    }
     #burger-icon {
         display: block;
         margin: 3.125rem 2.5rem 0 1.25rem;
    }
     #close-icon {
         display: none;
         margin: 3.125rem 2.5rem 0 1.25rem;
    }
     .navbar-toggle.active #burger-icon {
         display: none;
    }
     .navbar-toggle.active #close-icon {
         display: inline;
    }
     .navbar {
         flex-wrap: wrap;
         padding: 0;
    }
     .navbar-link {
         display: none;
         flex-direction: column;
         background-color: var(--color-secondary);
         order: 3;
         width: 95%;
         padding: 0.625rem 0.3125rem;
         gap: 0.625rem;
         margin: 0.625rem auto;
         border-radius: 10px;
    }
     .navbar a.link {
         color: var(--color-primary);
         font-weight: 600;
         margin-left: 0;
    }
     .navbar-link.show {
         display: flex;
    }
     .btn-cta {
         font-size: 1.125rem;
         font-weight: 600;
         color: var(--color-primary);
         margin-left: 0;
         text-align: center;
         display: inline-block;
         box-shadow: none;
         padding: 0;
         text-transform: none;
    }
     nav a.btn-cta:hover {
         background-color: inherit;
         color: var(--color-primary);
    }
     .hero {
         padding: 3.125rem;
    }
     .hero h1 {
         font-size: 2.2rem;
    }
     .hero p {
         font-size: 1.5rem;
    }
     .wrap-services > div {
         flex: 1 1 calc(50% - 1.25rem);
         max-width: calc(50% - 1.25rem);
    }
     h3 {
         margin: 0;
    }
     .zi {
         flex-wrap: wrap;
         justify-content: center;
    }
     .villes {
         display: none;
    }
     .presentation {
         gap: 1.25rem;
         max-width: 100%;
    }
     #carrousel {
         column-count: 2;
    }
     .realisation-card img {
         max-height: 18.75rem;
         height: auto;
    }
}
 @media screen and (max-width: 768px) {
     .contacts {
         display: flex;
         justify-content: center;
         position: fixed;
         bottom: 0;
         right: auto;
         z-index: 999;
         gap: 0.3125rem;
         width: 100%;
         padding: 1.25rem 0;
    }
     .contacts a:nth-child(1) {
         order: 1;
    }
     .contacts a:nth-child(2) {
         order: 3;
    }
     .contacts a:nth-child(3) {
         order: 2;
    }
     .hero {
         padding: 0 1.25rem 3.125rem 1.25rem;
    }
     h1 {
         font-size: 1rem;
    }
     br {
         display: none;
    }
     .hero p {
         padding: 0.625rem;
         font-size: 1.25rem;
         border-radius: 10px;
    }
     #services {
         padding: 0 2.5rem 2.5rem 2.5rem;
         display: flex;
         flex-direction: column;
         justify-content: center;
    }
     .wrap-services > div {
         flex: 1 1 100%;
         max-width: 100%;
    }
     h3 {
         font-size: 1rem;
         padding: 0.625rem 0;
    }
     #zone {
         padding: 0 2.5rem;
         font-size: 1.125rem;
    }
     .zi {
         flex-wrap: wrap;
         justify-content: center;
         text-align: center;
         font-size: 1.375rem;
         padding: 0 0 3.125rem 0;
    }
     .text-zi {
         padding-bottom: 2.5rem;
    }
     #about {
         padding: 0 2.5rem;
    }
     .presentation-img img {
         max-width: 11.25rem;
    }
     .presentation {
         flex-wrap: wrap;
         gap: 1.25rem;
         max-width: 100%;
         padding: 0 0 1.25rem 0;
    }
     .presentation-text p {
         font-size: 1em;
    }
     .linkedin-btn {
         font-size: 0.875rem;
    }
     #work {
         padding: 0;
    }
     #carrousel {
         column-count: 1;
         text-align: center;
    }
     .carrousel-wrapper {
         padding: 0 2.5rem 2.5rem 2.5rem;
    }
     .realisation-card {
         display: inline-block;
         width: auto;
         margin-left: auto;
         margin-right: auto;
    }
     .realisation-card img {
         max-height: 12.5rem;
         height: auto;
         width: 100%;
         object-fit: cover;
    }
     #quote {
         padding: 0.625rem 1.25rem 3.125rem 1.25rem;
    }
     .form-container {
         padding: 0 1.25rem 6.25rem 1.25rem;
    }
     button[type="submit"] {
         width: 100%;
    }
}
 