@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#section-1 {
  background-color: #006991;
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006891;
}

header img {
  height: 60px;
  padding: 20px 50px 20px 50px;
}

.navbar {
  padding: 20px 50px 20px 50px;
}

.navbar a.link {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #e0e4e4;
  text-decoration: none;
  margin-left: 40px;
  width: 0%;
}

.navbar a.link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0;
  height: 2px;
  background: #e0e4e4;
  transition: 0.3s;
}

.navbar a.link:hover::before {
  width: 100%;
}

nav a.CTA {
  font-size: 18px;
  color: #e0e4e4;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 800;
  background-color: #e0e4e4;
  padding: 10px 20px;
  color: #006991;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.landing-page {
  padding: 0px 0px 0px 50px;
}

h1 {
  color: #e0e4e4;
  font-size: 50px;
  padding: 100px 0px 20px 0px;
}

.domaine {
  display: inline-block;
  text-transform: uppercase;
  font-style: italic;
  color: #e0e4e4;
  font-size: 30px;
  padding: 10px 20px;
  background-color: #37AFEE;
  border-radius: 10px;
}

.Logo-mobile {
  display: none;
}

.Contact {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  font-size: 20px;
  font-weight: bold;
  gap: 5px;
}

.floating-phone {
  background-color: #ffcc00;
  color: #006991;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.floating-phone i {
  padding-right: 10px;
}

.floating-email {
  background-color: #ffcc00;
  color: #006991;
  padding: 10px 10px;
  border-radius: 8px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.floating-insta {
  background-color: #ffcc00;
  color: #006991;
  padding: 10px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#section-2 {
  background-color: #e0e4e4;
  background-size: cover;
  padding: 0px 0px 0px 0px;
}

#section-2 h6 {
  color: #006991;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  padding: 60px 0px 0px 0px;
}

.wrap-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px 100px 220px 100px;
}

.wrap-services > div {
  padding: 30px 0px;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  text-align: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 50%;
}

.wrap-services > div > .title {
  font-weight: 500;
  padding: 20px 0px 10px 0px;
  font-size: 20px;
}

.wrap-services > div > p {
  padding: 0px 20px;
}

#section-4 {
  background-color: #006991;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 0px 100px 0px 100px;
  color: #e0e4e4;
  font-size: 22px;
}

#section-4 h6 {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  padding: 60px 0px 00px 0px;
}

.ZI {
  display: flex;
  gap: 20px;
  padding: 60px 0px 200px 0px;
  align-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 50%;
}

.img-wrapper {
  width: 600px;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
}

.Villes p {
  padding-bottom: 20px;
}

.MEL {
  color: #e4bfff;
  font-weight: 600;
}
.PVL {
  color: #74c3b0;
  font-weight: 600;
}
.liste-ville {
  columns: 3;
  list-style-type: disc;
  font-size: 20px;
  padding-left: 23px;
}
.liste-ville li {
  padding-right: 10px;
}

#section-5 {
  background-color: #e0e4e4;
}

#section-5 h6 {
  color: #006991;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  padding: 60px 0px 60px 0px;
}

#formulaire {
  display: flex;
  flex-direction: column;
  margin: 40px 100px 0px 100px;
  padding: 20px;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  max-width: 500px;
}

input[type="text"],
textarea,
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

input[type="submit"] {
  background-color: #ffcc00;
  color: #006991;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="submit"]:hover {
  background-color: #006991;
  color: #ffcc00;
}

#formulaire h6 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #006991;
  margin-bottom: 40px;
}

#page {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#section-3 {
  background-image: url(../images/kyaw-tun-4wQ6Y-jyeME-unsplash.jpg);
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  height: 100vh;
}

@media screen and ((min-width: 1025px) and (max-width: 1260px)) {
  .navbar a.link {
    display: none;
  }

  .Villes {
    display: none;
  }
  .ZI {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 30px 0px 100px 0px;
    text-align: center;
    font-size: 22px;
  }
}

@media screen and ((min-width: 769px) and (max-width: 1024px)) {
  #section-1 {
    padding: 0px 20px 20px 20px;
  }

  .landing-page {
    padding: 0px 50px;
  }

  h1 {
    padding-top: 30px;
  }

  .domaine {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 26px;
  }

  .navbar {
    padding: 0px 50px 0px 0px;
  }
  .navbar a.link {
    display: none;
  }

  a.CTA {
    font-size: 22px;
  }

  #section-2 {
    padding: 0px 20px 0px 20px;
  }

  #section-2 h6 {
    padding: 30px 0px 0px 0px;
  }

  #section-4 {
    padding: 0px 40px 0px 40px;
    font-size: 18px;
  }

  #section-4 h6 {
    padding: 40px 0px 00px 0px;
  }

  .ZI {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 30px 0px 100px 0px;
    text-align: center;
    font-size: 22px;
  }

  .text-ZI {
    padding: 20px 20px 40px 20px;
  }

  .Villes {
    display: none;
  }

  #formulaire {
    margin: 40px 20px 0px 20px;
  }
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }

  .Contact {
    background-color: #006891;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: auto;
    right: auto;
    z-index: 999;
    gap: 5px;
    width: 100%;
    padding: 20px 0px;
  }

  .floating-phone {
    order: 3;
  }
  .floating-email {
    order: 2;
  }
  .floating-insta {
    order: 4;
  }

  .landing-page {
    padding: 80px 10px 0px 10px;
    text-align: center;
    order: 2;
  }

  .Logo-mobile {
    display: inline;
    height: 40px;
    padding: 10px;
  }

  h1 {
    font-size: 26px;
    padding: 0px;
  }
  br {
    display: none;
  }

  .domaine {
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }

  #section-2 {
    padding: 0px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #section-2 h6 {
    padding: 20px 0px;
    font-size: 30px;
  }
  #section-3 h6 {
    padding: 20px 0px;
    font-size: 30px;
  }
  #section-4 h6 {
    padding: 40px 0px;
    font-size: 30px;
  }
  #section-5 h6 {
    padding: 50px 0px;
    font-size: 30px;
  }

  .wrap-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    padding: 0px;
  }

  .wrap-services > div {
    padding: 20px 0px;
    flex: 1 1 calc(100%);
    max-width: calc(100%);
  }

  .wrap-services > div > .title {
    font-size: 16px;
  }

  #section-4 {
    padding: 0px 30px 0px 30px;
    font-size: 18px;
  }

  .ZI {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0px 0px 100px 0px;
    text-align: center;
    font-size: 22px;
  }

  .text-ZI {
    padding: 0px 20px 40px 20px;
  }

  .Villes {
    display: none;
  }

  #formulaire {
    margin: 0px 20px 0px 20px;
  }

  input[type="submit"] {
    padding: 10px 10px;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
  }
  #formulaire h6 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}


@keyframes appear {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}